@charset "UTF-8";
body {
  font-family: "Noto Serif TC", "Lato","PingFang TC","Helvetica Neue","Helvetica", "微軟正黑體" ,"Arial","sans-serif";
  background-color: #fff;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner .logo {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 20px;
  width: 100px;
}

@media (min-width: 400px) {
  .banner .logo {
    width: 150px;
  }
}

@media (min-width: 720px) {
  .banner .logo {
    width: 200px;
  }
}

@media (min-width: 960px) {
  .banner .logo {
    width: 260px;
  }
}

.banner .words {
  position: absolute;
  z-index: 2;
  top: 8%;
  left: 50%;
  height: 85%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner .flexslider .slides img {
  display: block;
  height: auto !important;
  width: 100% !important;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.iframe-wrapper .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-title {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 46px;
  margin: 0;
}

@media (max-width: 720px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title .section-sub-title {
  font-size: 18px;
}

@media (max-width: 720px) {
  .section-title .section-sub-title {
    font-size: 18px;
  }
}

.section-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#dedede), color-stop(50%, rgba(220, 220, 220, 0)));
  background: linear-gradient(to bottom, #dedede 0%, rgba(220, 220, 220, 0) 50%);
  padding-bottom: 50px;
}

.section-1 .section-title {
  text-align: center;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  margin-top: 90px;
  margin-bottom: 90px;
}

.section-1 .section-centent {
  text-align: center;
  margin-bottom: 70px;
}

.section-1 .slider-wall {
  overflow: hidden;
  padding: 0;
}

.section-1 .slider-wall img {
  width: 100%;
  min-width: 1000px;
}

.cross-bg {
  background-image: url("../image/bg-paper.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-top: 50px;
}

@media (max-width: 720px) {
  .cross-bg {
    background-image: url("../image/bg-paper-mobi.jpg");
  }
}

.cross-bg .cloud {
  display: block;
  width: 120px;
  margin: 0 auto 95px auto;
}

.section-2 {
  padding-bottom: 50px;
}

@media (min-width: 960px) {
  .section-2 {
    padding-bottom: 200px;
  }
}

.section-2 .section-title {
  position: relative;
  margin: 0 auto 20px auto;
}

@media (min-width: 720px) {
  .section-2 .section-title {
    position: absolute;
    top: 0;
    right: -10%;
  }
}

@media (min-width: 960px) {
  .section-2 .section-title {
    right: -11%;
  }
}

@media (min-width: 1140px) {
  .section-2 .section-title {
    right: -11%;
  }
}

.section-2 .section-sub-title {
  margin-top: 0;
  margin-top: 20px;
}

@media (min-width: 720px) {
  .section-2 .section-sub-title {
    margin-top: 5px;
  }
}

@media (min-width: 960px) {
  .section-2 .section-sub-title {
    margin-top: 0;
  }
}

@media (min-width: 1140px) {
  .section-2 .section-sub-title {
    margin-top: 30px;
  }
}

.section-3 {
  margin-bottom: 100px;
}

@media (min-width: 960px) {
  .section-3 {
    margin-bottom: 200px;
  }
}

.section-3 .section-title {
  position: relative;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  margin: 0 auto 50px auto;
  text-align: center;
}

@media (min-width: 720px) {
  .section-3 .section-title {
    position: absolute;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    margin: 0 auto 20px auto;
    top: 0;
    left: -15%;
  }
}

@media (min-width: 960px) {
  .section-3 .section-title {
    left: -11%;
  }
}

@media (min-width: 1140px) {
  .section-3 .section-title {
    left: -11%;
  }
}

.section-3 .section-sub-title {
  margin-top: 0;
  margin-top: 20px;
  display: block;
  text-align: center;
}

@media (min-width: 720px) {
  .section-3 .section-sub-title {
    display: inline-block;
    margin-top: 5px;
  }
}

@media (min-width: 960px) {
  .section-3 .section-sub-title {
    margin-top: 0;
  }
}

@media (min-width: 1140px) {
  .section-3 .section-sub-title {
    margin-top: 30px;
  }
}

.section-4 {
  background-image: url("../image/bg-temple.jpg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.section-4 .section-title {
  position: relative;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  margin: 0 auto 50px auto;
  text-align: center;
}

@media (min-width: 720px) {
  .section-4 .section-title {
    position: absolute;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    margin: 0 auto 20px auto;
    top: 0;
    left: -15%;
  }
}

@media (min-width: 960px) {
  .section-4 .section-title {
    left: -11%;
  }
}

@media (min-width: 1140px) {
  .section-4 .section-title {
    left: -11%;
  }
}

.section-4 .section-sub-title {
  margin-top: 0;
  margin-top: 20px;
  display: block;
  text-align: center;
}

@media (min-width: 720px) {
  .section-4 .section-sub-title {
    display: inline-block;
    margin-top: 5px;
  }
}

@media (min-width: 960px) {
  .section-4 .section-sub-title {
    margin-top: 0;
  }
}

@media (min-width: 1140px) {
  .section-4 .section-sub-title {
    margin-top: 30px;
  }
}

footer {
  padding-top: 20px;
  text-align: center;
  color: #555;
}

.owl-carousel.article-carousel article {
  color: #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.owl-carousel.article-carousel article:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.owl-carousel.article-carousel article:hover a {
  color: #B35955;
}

.owl-carousel.article-carousel article .article-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}

.owl-carousel.article-carousel article .article-body {
  margin-bottom: 30px;
}

.owl-carousel.article-carousel article a {
  display: block;
  text-align: right;
  color: inherit;
}

.owl-carousel.article-carousel article a::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 10px;
  background-image: url("../image/arrow-link.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.owl-carousel.article-carousel .owl-nav button.owl-prev, .owl-carousel.article-carousel .owl-nav button.owl-next {
  position: absolute;
  top: calc(50% - 2rem);
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.owl-carousel.article-carousel .owl-nav button.owl-prev span, .owl-carousel.article-carousel .owl-nav button.owl-next span {
  display: none;
}

.owl-carousel.article-carousel .owl-nav button.owl-prev {
  background-image: url("../image/arrow-pre.png");
  left: -2rem;
}

.owl-carousel.article-carousel .owl-nav button.owl-next {
  background-image: url("../image/arrow-next.png");
  right: -2rem;
  background-position: center right;
}

.cardFlip .cardFlip-select .nav-tabs {
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardFlip .cardFlip-select .nav-tabs .nav-link {
  border: 1px solid #000;
  padding: .5rem 1rem;
  border-radius: 0;
  color: #000;
  margin: .5rem;
}

.cardFlip .cardFlip-select .nav-tabs .nav-link:hover, .cardFlip .cardFlip-select .nav-tabs .nav-link.active {
  background-color: #C1C1C1;
  border-color: #C1C1C1;
}

.cardFlip .tab-pane {
  height: 400px;
}

@media (min-width: 400px) {
  .cardFlip .tab-pane {
    height: 500px;
  }
}

@media (min-width: 600px) {
  .cardFlip .tab-pane {
    height: 650px;
  }
}

@media (min-width: 960px) {
  .cardFlip .tab-pane {
    height: 750px;
  }
}

.cardFlip .cardFlip-centered-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

@media (min-width: 960px) {
  .cardFlip .cardFlip-centered-wrap {
    padding-top: 70px;
  }
}

.cardFlip .cardFlip-card-wrap {
  position: relative;
  width: 280px;
  height: 280px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cardFlip .cardFlip-card-wrap:hover {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
}

@media (min-width: 400px) {
  .cardFlip .cardFlip-card-wrap {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 600px) {
  .cardFlip .cardFlip-card-wrap {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 960px) {
  .cardFlip .cardFlip-card-wrap {
    width: 600px;
    height: 600px;
  }
}

.cardFlip .cardFlip-card {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
  width: 280px;
  height: 280px;
}

@media (min-width: 400px) {
  .cardFlip .cardFlip-card {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 600px) {
  .cardFlip .cardFlip-card {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 960px) {
  .cardFlip .cardFlip-card {
    width: 600px;
    height: 600px;
  }
}

.cardFlip .cardFlip-card.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardFlip .cardFlip-card .cardFlip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardFlip .cardFlip-card .cardFlip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Feel free to change duration  */
.animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1;
}

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0;
}

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
