<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>世界宗教博物館</title>
  <link rel="stylesheet" href="./css/bs/bootstrap-grid.css">
  <link rel="stylesheet" href="./css/owl.carousel.min.css">
  <link rel="stylesheet" href="./css/flexslider.css">
  <link rel="stylesheet" href="./css/common.css">
</head>
<body>
<!-- KV -->
<div class="banner">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img class="bv-img" src="./image/kv_p_1.jpg" data-pc="./image/kv_p_1.jpg" data-mb="./image/kv_m_1.jpg"/>
      </li>
      <li>
        <img class="bv-img" src="./image/kv_p_2.jpg" data-pc="./image/kv_p_2.jpg" data-mb="./image/kv_m_2.jpg"/>
      </li>
      <li>
        <img class="bv-img" src="./image/kv_p_3.jpg" data-pc="./image/kv_p_3.jpg" data-mb="./image/kv_m_3.jpg"/>
      </li>
    </ul>
  </div>
  <!-- <div class="owl-carousel owl-theme banner-carousel animated fadeOut">
    <div class="item" >
      <img src="./image/kv_p_1.jpg" alt="">
    </div>
    <div class="item">
      <img src="./image/kv_p_2.jpg" alt="">
    </div>
    <div class="item">
      <img src="./image/kv_p_3.jpg" alt="">
    </div>
  </div> -->

  <img class="logo" src="./image/LOGO.png" alt="">
  <img class="words" src="./image/head-title.png" alt="">

</div>

<!-- 照片牆 -->
<div class="container-fluid section-1">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">用生命，感動生命</h2>
          <p class="section-centent">以多元宗教為展示主題、以生命教育為情境體驗，<br/>
            世界宗教博物館帶領觀眾走進宗教的大千世界，<br/>
            從不同文化，探尋內心與生命經驗的沈思與觀照，<br/>
            更引領人們以宏觀的眼、開放的心，體會多元文化面貌。</p>
        </div>
      </div>

    <div class="row justify-content-end">
      <div class="col-12 col-md-10 slider-wall">
        <img src="./image/img-slider.jpg">
      </div>
    </div>
</div>

<div class="cross-bg">
  <div>
    <img class="cloud" src="./image/deco-cloud.png">
  </div>
  <!-- 影片 -->
  <div class="container section-2">
      <div class="row">
        <div class="col-12 col-lg-10 col-xl-9 m-auto">
          <h2 class="section-title">
            攝心觀照
            <span class="section-sub-title">推動宗教共存共榮</span>
          </h2>
          <div class="iframe-wrapper">
            <iframe class="video" src="https://www.youtube.com/embed/YTRKoisD-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  </div>
  <!-- 文章 -->
  <div class="container section-3">
    <div class="row">
      <div class="col-10 col-md-10 m-auto">
        <h2 class="section-title">
          獨特觀點
          <span class="section-sub-title">自由對話的心靈場域</span>
        </h2>
        <div class="owl-carousel owl-theme article-carousel">
          <div class="item">
            <article>
              <img class="img-fluid mb-3" src="./image/article-img-01.jpg" alt="">
              <h3 class="article-title">疫情下的探索：走進世界宗教博物館，重拾內心寧靜的力量</h3>
              <p class="article-body">2021年在每個人的生命中，都會是一段特別的經歷。 因為疫情我們面對了前所未見令人深感不安的時刻，戴口罩、線上會議變成日常，何時能出國旅行更是許多人的感嘆。</p>
              <a href="#" target="_blank">觀看內容</a>
            </article>
          </div>
          <div class="item">
            <article>
              <img class="img-fluid mb-3" src="./image/article-img-02.jpg" alt="">
              <h3 class="article-title">世界宗教博物館 館長馬幼娟：信仰讓人免於生命未知的恐懼</h3>
              <p class="article-body">2021年在每個人的生命中，都會是一段特別的經歷。 因為疫情我們面對了前所未見令人深感不安的時刻，戴口罩、線上會議變成日常，何時能出國旅行更是許多人的感嘆。</p>
              <a href="#" target="_blank">觀看內容</a>
            </article>
          </div>
          <div class="item">
            <article>
              <img class="img-fluid mb-3" src="./image/article-img-03.jpg" alt="">
              <h3 class="article-title">疫情下的探索：走進世界宗教博物館，重拾內心寧靜的力量</h3>
              <p class="article-body">2021年在每個人的生命中，都會是一段特別的經歷。 因為疫情我們面對了前所未見令人深感不安的時刻，戴口罩、線上會議變成日常，何時能出國旅行更是許多人的感嘆。</p>
              <a href="#" target="_blank">觀看內容</a>
            </article>
          </div>
          <div class="item">
            <article>
              <img class="img-fluid mb-3" src="./image/article-img-02.jpg" alt="">
              <h3 class="article-title">世界宗教博物館 館長馬幼娟：信仰讓人免於生命未知的恐懼</h3>
              <p class="article-body">2021年在每個人的生命中，都會是一段特別的經歷。 因為疫情我們面對了前所未見令人深感不安的時刻，戴口罩、線上會議變成日常，何時能出國旅行更是許多人的感嘆。</p>
              <a href="#" target="_blank">觀看內容</a>
            </article>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- 翻牌互動 -->
<div class="container-fluid section-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-9 m-auto">
        <h2 class="section-title">
          你不知道的
          <span class="section-sub-title">自由對話的心靈場域</span>
        </h2>
        <div class="cardFlip">
          <div class="cardFlip-select">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="card-tab-1" data-toggle="tab" href="#card-1" role="tab" aria-controls="card-1" aria-selected="true">以色列/耶路撒冷</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-2" data-toggle="tab" href="#card-2" role="tab" aria-controls="card-2" aria-selected="false">法國/夏特</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-3" data-toggle="tab" href="#card-3" role="tab" aria-controls="card-3" aria-selected="false">台灣/台中</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-4" data-toggle="tab" href="#card-4" role="tab" aria-controls="card-4" aria-selected="false">印度/班加羅爾</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-5" data-toggle="tab" href="#card-5" role="tab" aria-controls="card-5" aria-selected="false">俄羅斯/謝爾吉耶夫</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-6" data-toggle="tab" href="#card-6" role="tab" aria-controls="card-6" aria-selected="false">印度/爪哇</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-7" data-toggle="tab" href="#card-7" role="tab" aria-controls="card-7" aria-selected="false">日本/伊勢市</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-8" data-toggle="tab" href="#card-8" role="tab" aria-controls="card-8" aria-selected="false">捷克/布拉格</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-9" data-toggle="tab" href="#card-9" role="tab" aria-controls="card-9" aria-selected="false">印度/阿姆利則</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="card-tab-10" data-toggle="tab" href="#card-10" role="tab" aria-controls="card-10" aria-selected="false">中國/山西</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="card-1" role="tabpanel" aria-labelledby="card-tab-1">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_1.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-2" role="tabpanel" aria-labelledby="card-tab-2">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_2.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-3" role="tabpanel" aria-labelledby="card-tab-3">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_3.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-4" role="tabpanel" aria-labelledby="card-tab-4">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_4.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-5" role="tabpanel" aria-labelledby="card-tab-5">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_5.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-6" role="tabpanel" aria-labelledby="card-tab-6">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_6.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-7" role="tabpanel" aria-labelledby="card-tab-7">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_7.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-8" role="tabpanel" aria-labelledby="card-tab-8">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_8.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-9" role="tabpanel" aria-labelledby="card-tab-9">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_9.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="card-10" role="tabpanel" aria-labelledby="card-tab-10">
              <div class="cardFlip-centered-wrap">
                <div class="cardFlip-card-wrap">
                  <div class="cardFlip-card">
                    <div class="cardFlip-card-front">
                      <img class="img-fluid" src="./image/card_10.jpg" alt="">
                    </div>
                    <div class="cardFlip-card-back">
                      <img class="img-fluid" src="./image/card_a_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<footer>
  <p>Copyright © 2021 天下雜誌整合傳播部. All rights reserved.版權所有，禁止擅自轉貼節錄</p>
  <p>天下雜誌隱私權政策</p>
</footer>

  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/owl.carousel.js"></script>
  <script src="./js/jquery.flexslider.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>